<section data-ng-controller="MeetingsController" data-ng-init="findGroups();findOne()">
	<div data-ng-if="! (groups.$resolved && meeting.$resolved)" class="loading">
		<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Chargement en cours...
	</div>

	<div data-ng-if="groups.$resolved && meeting.$resolved">
		<ol class="breadcrumb">
			<li><a ui-sref="meetings.list">Réunions</a></li>
			<li class="active"><a ui-sref="meetings.view({meetingId: meeting._id})" data-ng-bind="meeting.name"></a></li>
		</ol>

		<h2>Éditer une réunion</h2>

		<div class="col-md-12">
			<form name="meetingForm" class="form-horizontal" data-ng-submit="update(meetingForm.$valid, 'meetingForm')" novalidate>
				<fieldset>
					<div class="form-group" show-errors>
						<label for="name">Nom</label>
						<input name="name" type="text" data-ng-model="meeting.name" id="name" class="form-control" placeholder="Nom" required>
						<div data-ng-messages="meetingForm.name.$error" role="alert">
							<p class="help-block error-text" data-ng-message="required">Vous devez spécifier le nom de la réunion.</p>
						</div>
					</div>
					<div class="form-group" show-errors>
						<label for="location">Lieu</label>
						<input name="location" type="text" data-ng-model="meeting.location" id="location" class="form-control" placeholder="Lieu" required>
						<div data-ng-messages="meetingForm.location.$error" role="alert">
							<p class="help-block error-text" data-ng-message="required">Vous devez spécifier le lieu de la réunion.</p>
						</div>
					</div>
					<div class="form-group" show-errors>
						<label for="date">Date</label>
						<div class="dropdown">
							<a class="dropdown-toggle" id="dateDropdown" role="button" data-toggle="dropdown" data-target="#" href="#">
								<div class="input-group"><input name="date" type="text" id="date" class="form-control" data-ng-model="meeting.date" required><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span></div>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dateLabel">
								<datetimepicker data-ng-model="meeting.date" data-datetimepicker-config="{dropdownSelector: '#dateDropdown'}"></datetimepicker>
							</ul>
						</div>
						<div data-ng-messages="meetingForm.date.$error" role="alert">
							<p class="help-block error-text" data-ng-message="required">Vous devez spécifier une date pour la réunion.</p>
						</div>
					</div>
					<div class="form-group">
						<label for="supervisor">Superviseur</label>
						<input name="supervisor" type="text" id="meeting.supervisor" class="form-control" value="{{authentication.user.displayName}}" disabled="disabled">
					</div>
					<div class="form-group" show-errors>
						<label for="group">Groupe</label>
						<select name="group" data-ng-model="meeting.group" id="group" class="form-control" required>
							<option data-ng-repeat="group in groups | orderBy: '+name'" value="{{group._id}}" data-ng-bind="group.name" data-ng-selected="group._id === meeting.group._id"></option>
						</select>
						<div data-ng-messages="meetingForm.group.$error" role="alert">
							<p class="help-block error-text" data-ng-message="required">Vous devez spécifier un groupe pour la réunion.</p>
						</div>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-primary" value="Mettre à jour">
					</div>
					<div data-ng-show="error" class="text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</section>