<section data-ng-controller="MeetingsController" data-ng-init="find()">
	<div data-ng-if="! meetings.$resolved" class="loading">
		<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Chargement en cours...
	</div>

	<div data-ng-if="meetings.$resolved">
		<ol class="breadcrumb">
			<li class="active"><a ui-sref="meetings.list">Réunions</a></li>
		</ol>

		<h2>Mes réunions</h2>

		<div class="row">
			<div class="col-md-9">
				<div class="action-box" data-ng-if="authentication.user && authentication.user.roles.indexOf('supervisor') !== -1">
					<a ui-sref="meetings.create" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Créer une réunion</a>
				</div>

				<div data-ng-if="meetings.length > 0" class="list-group">
					<a data-ng-repeat="meeting in meetings" ui-sref="meetings.view({meetingId: meeting._id})" class="list-group-item">
						<h4 class="list-group-item-heading" ng-bind="meeting.name"></h4>
						<p class="list-group-item-text pull-right small" data-ng-bind="meeting.date | amDateFormat:'ddd D MMM YYYY à H:mm'"></p>
						<p class="list-group-item-text" data-ng-bind="meeting.group.name"></p>
					</a>
				</div>

				<div data-ng-if="meetings.length === 0" class="alert alert-warning">Aucune réunion.</div>
			</div>

			<div class="col-md-3">
				<div class="panel panel-info">
					<div class="panel-heading"><h3 class="panel-title">Informations</h3></div>
					<div class="panel-body">
						<dl>
							<dt>Nombre de réunions</dt>
							<dd data-ng-bind="meetings.length"></dd>
						</dl>
						<dl data-ng-if="nextmeeting !== null">
							<dt>Prochaine réunion</dt>
							<dd data-ng-bind="nextmeeting | amDateFormat:'ddd D MMM YYYY à H:mm'"></dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>