<section data-ng-controller="MeetingsController" data-ng-init="findOne()">
	<div data-ng-if="! meeting.$resolved" class="loading">
		<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Chargement en cours...
	</div>

	<div data-ng-if="meeting.$resolved">
		<ol class="breadcrumb">
			<li><a ui-sref="meetings.list">Réunions</a></li>
			<li class="active"><a ui-sref="meetings.view({meetingId: meeting._id})" data-ng-bind="meeting.name"></a></li>
		</ol>

		<h2 data-ng-bind="meeting.name"></h2>

		<div class="row">
			<div class="col-md-9">
				<div class="action-box" data-ng-if="meeting.report === null && authentication.user && authentication.user.roles.indexOf('supervisor') !== -1">
					<a ui-sref="meetings.edit({meetingId: meeting._id})" class="btn btn-success"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Éditer la réunion</a> <a ui-sref="meetings.report({meetingId: meeting._id})" class="btn btn-primary"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Rédiger le compte-rendu</a>
				</div>

				<div data-ng-if="meeting.report === null" class="alert alert-warning">Compte-rendu pas encore rédigé.</div>

				<div data-ng-if="meeting.report !== null">
					<h3>Évaluation des membres</h3>

					<accordion close-others="false">
						<accordion-group data-ng-repeat="i in getNumber(meeting.group.members.length) track by $index">
							<accordion-heading>{{meeting.group.members[i].displayName}}</accordion-heading>
							<div data-ng-show="! meeting.report.userfeedbacks[i].attended">Absent.</div>
							<div data-ng-show="meeting.report.userfeedbacks[i].attended">
								<dl>
									<dt>Questions générales</dt>
									<dd>
										<p><i data-ng-if="meeting.report.userfeedbacks[i].note.q1" class="glyphicon glyphicon-ok success-icon" aria-hidden="true"></i><i data-ng-if="! meeting.report.userfeedbacks[i].note.q1" class="glyphicon glyphicon-remove failed-icon" aria-hidden="true"></i> L'étudiant maîtrise bien le sujet et/ou sait parfaitement répondre aux questions qui lui sont posées (sans exception).<br>
										<i data-ng-if="meeting.report.userfeedbacks[i].note.q2" class="glyphicon glyphicon-ok success-icon" aria-hidden="true"></i><i data-ng-if="! meeting.report.userfeedbacks[i].note.q2" class="glyphicon glyphicon-remove failed-icon" aria-hidden="true"></i> L'étudiant respecte les membres de son groupe, laisse parler les autres, n'engage pas de conflit et est ouvert aux avis des autres.</p>
									</dd>
									<dt>L'étudiant réalise les tâches qui lui sont attribuées</dt>
									<dd data-ng-bind="meeting.report.userfeedbacks[i].note.q3"></dd>
									<dt>Remarques</dt>
									<dd data-ng-if="meeting.report.userfeedbacks[i].remark !== ''" data-ng-bind="meeting.report.userfeedbacks[i].remark"></dd>
									<dd data-ng-if="meeting.report.userfeedbacks[i].remark === ''">Aucune.</dd>
								</dl>
							</div>
						</accordion-group>
					</accordion>

					<h3>Remarques générales</h3>
					<p data-ng-if="meeting.report.text !== ''" data-ng-bind="meeting.report.text"></p>
					<p data-ng-if="meeting.report.text === ''">Aucune.</p>
				</div>
			</div>

			<div class="col-md-3">
				<div class="panel panel-info">
					<div class="panel-heading"><h3 class="panel-title">Informations</h3></div>
					<div class="panel-body">
						<dl>
							<dt>Groupe</dt>
							<dd data-ng-bind="meeting.group.name"></dd>
						</dl>
						<dl>
							<dt>Date de la réunion</dt>
							<dd data-ng-bind="meeting.date | amDateFormat:'ddd D MMM YYYY à H:mm'"></dd>
						</dl>
						<dl data-ng-if="meeting.report !== null">
							<dt>Rédaction du compte-rendu</dt>
							<dd data-ng-bind="meeting.report.date | amDateFormat:'ddd D MMM YYYY à H:mm'"></dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>