<section data-ng-controller="MeetingsController" data-ng-init="findOne(true)">
	<div data-ng-if="! meeting.$resolved" class="loading">
		<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Chargement en cours...
	</div>

	<div data-ng-if="meeting.$resolved">
		<ol class="breadcrumb">
			<li><a ui-sref="meetings.list">Réunions</a></li>
			<li class="active"><a ui-sref="meetings.view({meetingId: meeting._id})" data-ng-bind="meeting.name"></a></li>
			<li class="active"><a ui-sref="meetings.report({meetingId: meeting._id})">Rédiger le compte-rendu</a></li>
		</ol>

		<h2>Rédiger le compte-rendu</h2>

		<div class="row">
			<div class="col-md-9">
				<form name="reportForm" data-ng-submit="update(reportForm.$valid)" novalidate>
					<fieldset>
						<legend>Présence</legend>
						<div class="form-group">
							<div class="checkbox" data-ng-repeat="i in getNumber(meeting.group.members.length) track by $index">
								<label><input name="attended{{i}}" type="checkbox" id="attended{{i}}" data-ng-model="report.userfeedbacks[i].attended">{{meeting.group.members[i].displayName}}</label>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend>Évaluation des membres</legend>
						<accordion close-others="false">
							<accordion-group data-ng-repeat="i in getNumber(meeting.group.members.length) track by $index">
								<accordion-heading>{{meeting.group.members[i].displayName}}</accordion-heading>
								<div data-ng-show="! report.userfeedbacks[i].attended">Étudiant absent.</div>
								<div data-ng-show="report.userfeedbacks[i].attended">
									<div class="form-group">
										<label>Questions générales</label>
										<div class="checkbox">
											<label><input name="qg1{{i}}" type="checkbox" data-ng-model="report.userfeedbacks[i].note.q1" id="qg1{{i}}">L'étudiant maîtrise bien le sujet et/ou sait parfaitement répondre aux questions qui lui sont posées (sans exception).</label>
										</div>
										<div class="checkbox">
											<label><input name="qg2{{i}}" type="checkbox" data-ng-model="report.userfeedbacks[i].note.q2" id="qg2{{i}}">L'étudiant respecte les membres de son groupe, laisse parler les autres, n'engage pas de conflit et est ouvert aux avis des autres.</label>
										</div>
									</div>
									<div class="form-group">
										<label>L'étudiant réalise les tâches qui lui sont attribuées</label>
										<div class="radio">
											<label><input name="qt{{i}}" type="radio" data-ng-model="report.userfeedbacks[i].note.q3" id="qt{{i}}1" value="++">L'étudiant est arrivé aux termes de tous les objectifs qui lui ont été fixés lors de la précédente réunion.</label>
											<label><input name="qt{{i}}" type="radio" data-ng-model="report.userfeedbacks[i].note.q3" id="qt{{i}}2" value="+">L'étudiant est arrivé aux termes de la majorité des objectifs qui lui ont été fixés lors de la précédente réunion.</label>
											<label><input name="qt{{i}}" type="radio" data-ng-model="report.userfeedbacks[i].note.q3" id="qt{{i}}3" value="-">L'étudiant n'est pas arrivé aux termes de la majorité des objectifs qui lui ont été fixés lors de la précédente réunion.</label>
											<label><input name="qt{{i}}" type="radio" data-ng-model="report.userfeedbacks[i].note.q3" id="qt{{i}}4" value="--">L'étudiant n'a entrepris aucune démarche depuis la dernière réunion.</label>
										</div>
									</div>
									<div class="form-group">
										<label>Remarques</label>
										<textarea name="rem{{i}}" data-ng-model="report.userfeedbacks[i].remark" id="rem{{i}}" class="form-control" placeholder="Remarques"></textarea>
									</div>
								</div>
							</accordion-group>
						</accordion>
					</fieldset>
					<fieldset>
						<legend>Remarques générales</legend>
						<div class="form-group">
							<textarea name="text" data-ng-model="report.text" id="text" class="form-control" placeholder="Remarques"></textarea>
						</div>
						<div class="form-group">
							<input type="submit" class="btn btn-primary" value="Enregistrer">
						</div>
						<div data-ng-show="error" class="text-danger">
							<strong data-ng-bind="error"></strong>
						</div>
					</fieldset>
				</form>
			</div>

			<div class="col-md-3">
				<div class="panel panel-info">
					<div class="panel-heading"><h3 class="panel-title">Informations</h3></div>
					<div class="panel-body">
						<dl>
							<dt>Groupe</dt>
							<dd data-ng-bind="meeting.group.name"></dd>
						</dl>
						<dl>
							<dt>Date</dt>
							<dd data-ng-bind="meeting.date | amDateFormat:'ddd D MMM YYYY à H:mm'"></dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>