<section data-ng-controller="DiscussionsController" data-ng-init="findOne()">
	<div data-ng-if="! discussion.$resolved" class="loading">
		<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Chargement en cours...
	</div>

	<div data-ng-if="discussion.$resolved">
		<ol class="breadcrumb">
			<li><a ui-sref="discussions.list">Discussions</a></li>
			<li class="active"><a ui-sref="discussions.view({discussionId: discussion._id})" data-ng-bind="discussion.title"></a></li>
		</ol>

		<h2 data-ng-bind="discussion.title"></h2>

		<div class="row">
			<div class="col-md-9">
				<div class="panel panel-default">
					<div class="panel-body" data-ng-bind="discussion.message"></div>
				</div>
				<div class="panel panel-default" data-ng-repeat="i in getNumber(discussion.answers.length) track by $index">
					<div class="panel-body">
						<p class="pull-right small" data-ng-bind="discussion.answers[i].date | amDateFormat:'ddd D MMM YYYY à H:mm'"></p>
						<p class="small">{{discussion.answers[i].user.displayName}} a écrit :</p>
						<div data-ng-bind="discussion.answers[i].message"></div>
					</div>
				</div>
				<form name="answerForm" data-ng-submit="answer(answerForm.$valid)" novalidate>
					<fieldset>
						<div class="form-group" show-errors>
							<label for="message">Réponse</label>
							<textarea name="message" data-ng-model="message" id="message" class="form-control" placeholder="Message" rows="5" required></textarea>
							<div data-ng-messages="answerForm.message.$error" role="alert">
								<p class="help-block error-text" data-ng-message="required">Vous devez spécifier un message pour la réponse.</p>
							</div>
						</div>
						<div class="form-group">
							<input type="submit" class="btn btn-primary" value="Répondre">
						</div>
						<div data-ng-show="error" class="text-danger">
							<strong data-ng-bind="error"></strong>
						</div>
					</fieldset>
				</form>
			</div>

			<div class="col-md-3">
				<div class="panel panel-info">
					<div class="panel-heading"><h3 class="panel-title">Informations</h3></div>
					<div class="panel-body">
						<dl>
							<dt>Auteur</dt>
							<dd data-ng-bind="discussion.user.displayName"></dd>
						</dl>
						<dl>
							<dt>Date</dt>
							<dd data-ng-bind="discussion.created | amDateFormat:'ddd D MMM YYYY à H:mm'"></dd>
						</dl>
						<dl>
							<dt>Destinataires</dt>
							<dd><span data-ng-repeat="recipient in discussion.recipient">{{formatRecipient(recipient)}}{{$last ? '' : ', '}}</span></dd>
						</dl>
						<dl>
							<dt>Visibilité</dt>
							<dd>
								<span data-ng-if="discussion.public">Publique</span>
								<span data-ng-if="! discussion.public">Privée</span>
							</dd>
						</dl>
						<dl>
							<dt>Réponses</dt>
							<dd data-ng-bind="discussion.answers.length"></dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>