<section data-ng-controller="ProjectManagementController" data-ng-init="addlog('projectmanagement', 'start:oralcommunication')">
	<ol class="breadcrumb">
		<li><a ui-sref="projectmanagement.list">Gestion de projet</a></li>
		<li class="active"><a ui-sref="projectmanagement.oralcommunication">Communication orale</a></li>
	</ol>

	<h2>Communication orale</h2>

	<p>Outre la communication écrite, il y a également la <em>communication orale</em> qui figure parmi les formes les plus répandues de communication. Cette dernière est utilisée pour faire passer les grandes lignes d'un message et a pour avantage de recevoir un feedback immédiat de l'audience. La communication orale doit également être bien structurée si on veut la rendre efficace. De plus, elle peut être accompagnée par un support écrit, souvent sous la forme de slides, qui doivent eux-mêmes être bien structurés.</p>

	<h3>Présentation</h3>

	<p>Les slides 16 à 14 de la présentation suivante couvrent la <em>communication orale</em>.</p>

	<iframe src="//www.slideshare.net/slideshow/embed_code/key/tF1uGt2ZryjNjM" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen></iframe>
	<div style="margin-bottom:5px"><strong><a href="//www.slideshare.net/seb478/communication-crite-et-orale-efficace" title="Communication écrite et orale efficace" target="_blank">Communication écrite et orale efficace</a></strong> from <strong><a href="//www.slideshare.net/seb478" target="_blank">Sébastien Combéfis</a></strong></div>

	<h3>Ressources</h3>

	<h3>Références</h3>

	<ul>
		<li>Tree, maps and theorems: Effective communication for rational minds, Jean-Luc Doumont, Principiae, 2009.</li>
		<li>Presentation Zen: Simple Ideas on Presentation Design and Delivery, Garr Reynolds, New Riders, 2011.</li>
	</ul>
</section>