<section data-ng-controller="ProjectManagementController" data-ng-init="addlog('projectmanagement', 'start:teamwork')">
	<ol class="breadcrumb">
		<li><a ui-sref="projectmanagement.list">Gestion de projet</a></li>
		<li class="active"><a ui-sref="projectmanagement.teamwork">Travail d'équipe</a></li>
	</ol>

	<h2>Travail d'équipe</h2>

	<p>Travailler en équipe ne requière pas du tout les mêmes compétences que celles mobilisées lorsqu'on travaille seul. Une <em>équipe</em> est une entité à part entière qui est capable d'effectuer des actions combinées dans le but de réaliser une tâche. Pour bien s'en sortir lorsqu'on travaille en groupe, il convient avant tout de comprendre comment un groupe fonctionne et quels sont les différentes étapes depuis sa création jusque sa désintégration.</p>

	<h3>Présentation</h3>

	<p>Les slides 3 à 17 de la présentation suivante couvrent le <em>travail de groupe</em>.</p>

	<iframe src="//www.slideshare.net/slideshow/embed_code/key/BiL31yg4pAAKSu" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen></iframe>
	<div style="margin-bottom:5px"><strong><a href="//www.slideshare.net/seb478/ecam-pigroupeprojet" title="Travail de groupe et gestion de projet" target="_blank">Travail de groupe et gestion de projet</a></strong> from <strong><a href="//www.slideshare.net/seb478" target="_blank">Sébastien Combéfis</a></strong></div>

	<h3>Ressources</h3>

	<h3>Références</h3>

	<ul>
		<li>Le travail en équipe : Clés pour une meilleure efficacité collective, Roger Mucchielli, ESF Editeur, 2014.</li>
	</ul>
</section>