<section class="row" data-ng-controller="ProjectManagementController" data-ng-init="addlog('projectmanagement', 'start:tools.drive')">
	<p><img src="modules/projectmanagement/client/img/drive-logo.png" alt="Drive" width="50" height="50" class="pull-right righticon" />Google Drive vous permet de partager des documents, mais également d'en éditer de manière collaborative grâce aux différents éditeurs en ligne disponibles.</p>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/TZI-TnFFi8Q" frameborder="0" allowfullscreen></iframe>
</section>