<section class="row" data-ng-controller="ProjectManagementController" data-ng-init="addlog('projectmanagement', 'start:tools.trello')">
	<p><img src="modules/projectmanagement/client/img/trello-logo.png" alt="Trello" width="164" height="50" class="pull-right righticon" />Trello vous permet de gérer plusieurs aspects de la gestion d'un projet suivant la méthodologie Kanban de Toyota commme des listes de todo's, un planning, une affectation des tâches...</p>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/zr-FvzO9UTE" frameborder="0" allowfullscreen></iframe>
</section>