<section class="row" data-ng-controller="ProjectManagementController" data-ng-init="addlog('projectmanagement', 'start:writtencommunication')">
	<ol class="breadcrumb">
		<li><a ui-sref="projectmanagement.list">Gestion de projet</a></li>
		<li class="active"><a ui-sref="projectmanagement.writtencommunication">Communication écrite</a></li>
	</ol>

	<h2>Communication écrite</h2>

	<p>Communiquer est important et la <em>communication écrite</em> est une des trois principales formes de communication existante. Cette dernière peut être lue et relue et va donc pouvoir contenir plus de détails et être d'un niveau plus technique. Dans une communication écrite, le récepteur du message se retrouve seul face au texte, il est donc important de bien le structurer si on veut transmettre son message de manière efficace.</p>

	<h3>Présentation</h3>

	<p>Les slides 11 à 15 de la présentation suivante couvrent la <em>communication écrite</em>.</p>

	<iframe src="//www.slideshare.net/slideshow/embed_code/key/tF1uGt2ZryjNjM" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen></iframe>
	<div style="margin-bottom:5px"><strong><a href="//www.slideshare.net/seb478/communication-crite-et-orale-efficace" title="Communication écrite et orale efficace" target="_blank">Communication écrite et orale efficace</a></strong> from <strong><a href="//www.slideshare.net/seb478" target="_blank">Sébastien Combéfis</a></strong></div>

	<h3>Ressources</h3>

	<h3>Références</h3>

	<ul>
		<li>Tree, maps and theorems: Effective communication for rational minds, Jean-Luc Doumont, Principiae, 2009.</li>
		<li>How to Write a Lot: a Practical Guide to Productive Academic Writing, Paul Silvia, American Psychological Association, 2007.</li>
	</ul>
</section>