<section>
	<div class="row">
		<div class="col-md-6">
			<h2 data-ng-bind="user.displayName"></h1>
		</div>
		<div class="col-md-4">
			<a class="btn btn-primary" ui-sref="admin.user-edit({userId: user._id})"><i class="glyphicon glyphicon-edit"></i></a>
			<a class="btn btn-primary" data-ng-click="remove();" data-ng-if="user._id !== authentication.user._id"><i class="glyphicon glyphicon-trash"></i></a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8">
			<hr/>
			<div class="row">
				<div class="col-md-3"><strong>Prénom</strong></div>
				<div class="col-md-6" data-ng-bind="user.firstName"></div>
			</div>
			<hr/>
			<div class="row">
				<div class="col-md-3"><strong>Nom</strong></div>
				<div class="col-md-6" data-ng-bind="user.lastName"></div>
			</div>
			<hr/>
			<div class="row">
				<div class="col-md-3"><strong>E-mail</strong></div>
				<div class="col-md-6" data-ng-bind="user.email"></div>
			</div>
			<hr/>
			<div class="row">
				<div class="col-md-3"><strong>Provider</strong></div>
				<div class="col-md-6" data-ng-bind="user.provider"></div>
			</div>
			<hr/>
			<div class="row">
				<div class="col-md-3"><strong>Créé le</strong></div>
				<div class="col-md-6" data-ng-bind="user.created"></div>
			</div>
			<hr/>
			<div class="row">
				<div class="col-md-3"><strong>Rôles</strong></div>
				<div class="col-md-6" data-ng-bind="user.roles"></div>
			</div>
			<hr/>
		</div>
	</div>
</section>