footer {
	margin-top: 40px;
}
footer > div {
	border-top: 1px solid #eee;
	padding: 10px 0;
}

h2 {
	margin-bottom: 25px;
}
h3 {
	margin-top: 0;
	font-size: 15pt;
}
.content {
	margin-top: 50px;
}
.content p {
	text-align: justify;
}
img.righticon {
	margin-left: 20px;
}
div.action-box {
	margin-bottom: 15px;
	text-align: right;
}

div.loading {
	padding: 20px;
}
.success-icon {
	color: #090;
}
.failed-icon {
	color: #900;
}

.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
	display: none !important;
}
.header-profile-image {
	opacity: 0.8;
	height: 28px;
	width: 28px;
	border-radius: 50%;
	margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
	opacity: 1;
}
.user-header-dropdown-toggle {
	padding-top: 11px !important;
	padding-bottom: 11px !important;
}
.error-text {
	display: none;
}
.has-error .help-block.error-text {
	display: block;
}
.has-error .help-inline.error-text {
	display: inline;
}

/*
 * Animated loading icon
 * Source: https://gist.github.com/alexandrevicenzi/680147013e902a4eaa5d
 */
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}